.PackOfFeed {
  position: relative;
  width: 320px;
  height: 460px;
  background: linear-gradient(125deg, transparent 30px, white 0);
  box-shadow: 0 0 0 4px #1698d9;
  border-radius: 6px;
  overflow: hidden;
}

.PackOfFeed_selected {
  box-shadow: 0 0 0 4px #d91667;
}

.PackOfFeed-caption {
  text-align: center;
  color: white;
  font-size: 13px;
  margin-top: 16px;
  font-family: "Trebuchet MS", serif;
}

.PackOfFeed-caption_link {
  color: #138ac6;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.PackOfFeed-caption_link_ {
  color: #138ac6;
}
